@import "tailwindcss";

html {
  direction: rtl;
}

.swiper-pagination-bullet {
  position: relative;
  width: 6px;
  height: 6px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 999px !important;
  overflow: hidden;
  transition: width 0.3s ease;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  width: 22px !important;
  background: rgba(255, 255, 255, 0.2) !important;
}

.swiper-pagination-bullet .progress {
  position: absolute;
  inset: 0;
  width: var(--progress, 0%);
  transition: width 300ms linear;
}

.swiper-pagination-bullet-active .progress {
  background: #fff !important;
}

.swiper-btn {
  position: absolute;
  top: 90%;
  transform: translateY(-50%);
  z-index: 20;
  width: 43px;
  height: 43px;
  background: #fff;
  color: #000;
  display: grid;
  place-items: center;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.2s ease;
}

.swiper-btn.prev {
  left: 5%;
}

.swiper-btn.next {
  left: 9%;
}
